<app-logout></app-logout>
<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Search by category id:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listSearch" name="" id="">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table text-center" *ngIf="categories.length">
                <thead>
                    <tr>
                        <th>
                            Id

                        </th>
                        <th>
                            Name
                        </th>
                      
                        <th>
                            created_at
                        </th>
                        <th>
                            updated_at
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories | searchCategory: listSearch; let index = index">
                        <td>
                            {{category.id}}
                        </td>
                        <td>
                            <!-- <a [routerLink] = "['/products' , category.productId]"> -->
                                {{category.name}}
                            <!-- </a> -->
                        </td>
                        <td>
                            {{category.created_at |  date:'full'}}
                        </td>
                        <td>
                            {{category.updated_at |  date:'full'}}
                        </td>
                        <td>
                            <button (click)="showCategory(category.id)" class="btn btn-primary">
                                Show Category
                            </button>
                          </td>
                          <td>
                            <button (click)="delete(category , index)"  class="btn btn-primary">Delete</button>
                        </td>
                        <td>
                            <button (click)="update(category.id)"  class="btn btn-primary">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>