<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>
                        Id

                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Category Id
                    </th>
                    <th>
                        created_at
                    </th>
                    <th>
                        updated_at
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{movie.id}}
                    </td>
                    <td>
                        <!-- <a [routerLink] = "['/products' , movie.productId]"> -->
                            {{movie.name}}
                        <!-- </a> -->
                    </td>
                    <td>
                        <img [src]="base_url + movie.image" [title]="movie.name" alt="">
                       
                    </td>                        
                    <td>
                        {{movie.description}}
                    </td>
                    <td>
                        {{movie.category_id}}
                    </td>
                    <td>
                        {{movie.created_at |  date:'full'}}
                    </td>
                    <td>
                        {{movie.updated_at |  date:'full'}}
                    </td>
                    <td>
                        <button (click)="delete(movie)"  class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>